WHISPER_MODEL=large-v3-turbo
WHISPER_LANGUAGE=es
WHISPER_PORT=9000
WHISPER_IMAGE=hwdsl2/whisper-server:cuda
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16
WHISPER_BEAM=1
WHISPER_STARTUP_TIMEOUT_SECONDS=300
